<div ng-controller="MeCtrl">


    <textarea ng-model="fb.share" placeholder="Escribe algo"></textarea>
    <button ng-click="share()">Share</button>



    <div ng-repeat="post in posts">
        <a ng-href="{{post.from.id}}">{{post.from.name}}</a>, compartiste:<br>
        
        <div>{{post.message}}<br>
            <div ng-if="post.type == 'video'">
                <video ng-src="{{post.source}}" style="width:300px;height:240px" controls preload="none"></video>
            </div>
            <div ng-if="post.type == 'photo'">
                <img ng-src="{{post.picture}}" />
            </div>


        </div>

        <br><br>
    </div>


</div>
